body, header > form > input[name="search"], header > form > input[type="submit"] {
	background-color: #F8F8F8;
}

header{
	
}

header h1 {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size:4em;
	font-weight:100;
	color:navy;
}

header > ul {
	margin-top:0px;
	font-size:1.2em;
	list-style-type:none;
	border-bottom: 2px solid tomato;
}

header > form > input[type="submit"] {
	background-image: url("resources/search.png");
	background-repeat: no-repeat;
	width:16px;
	border:none;
	background-position: center center;
}

input[type="submit"]:hover{
	cursor:pointer;
}

header > form > input[name="search"] {
	border:none;
	border-bottom:2px solid tomato;
	font-size:1.2em;
	color:tomato;
	text-align:right;
	padding-right:5px;
	max-width:9em;
}

header > h1, header > ul, section.main > *{
    
}

header > ul > li{
	color:tomato;
	font-size:1.3em;
	display:inline-block;
	margin-right:0.5em;
}

header > ul > li:first-child{
	
}

header > ul > li > a {
	color:inherit;
}

header > ul > li.current-cat, header > ul > li:hover {
	color:navy;
}

header > ul > li > form input.gray-text{
	color:lightgray;
}

header a{
	text-decoration:none;
}


main.wrapper > * { /* only blog pages have main.wrapper manager user div.wrapper */
	margin-left:1rem;
	margin-right:1rem;
}

article.post, article.preview{
	border-top:1px solid lightgray;
	background-color:white;
	overflow:hidden;
	padding-top:1.5rem;
	padding-bottom:1rem;
}

article.post {
	
}

article.preview{
	
	margin-top:0;
	overflow:hidden;
}

article.preview > ul {

    list-style-type: none;
}

article.preview > ul > li {
    display:table-cell;
    vertical-align: top;
}

article.preview > ul > li:last-of-type {
    padding-left: 1rem;   
}

article.preview > ul > li:last-of-type .title {
    font-size: 1.1em;
    font-weight: 100;
    line-height: 1.1em;
}

article.preview > ul > li:last-of-type p:first-of-type {
	/*font-size: 1.7em;
    font-weight:600;*/
}

article.preview > ul > li:last-of-type p:nth-child(2) {
	font-size: 1em;
    color:dimgray;
}

article.preview div.hashtags {
	font-size:0.9em;
	margin-top:0.3rem;
	
}

article.preview div.hashtags > span {
	margin-right:5px;
	display: inline-block;
}

article.preview a {
	text-decoration:none;
	
}

.hashtags > span > a {
    color:indigo;
}

.main > article:first-of-type{
	margin-top:0;
	border-top:none;
}

.main > article:last-of-type{
	margin-bottom:0rem;
}

.main article.post > form {
	display:none;
}

.main article.post > h1:first-of-type {
	font-size:2.2em;
	margin-top:0px;
	line-height:1.2em;
	padding-bottom:0;
}

.main article.post > h1:first-of-type a {
	text-decoration:none;
	color:inherit;
}

.main article.post > p.post-time {
	margin-bottom:1rem;
	text-indent:1em;
}

.main article.post > p.post-time, article.preview p.post-time {
	font-size:0.72em;
	margin-top:0px;
	color:lightgray;
}

article.preview p.post-time {
}

.main article.post > p.post-time > b, article.preview p.post-time > b {
    color: gray;
}

.main article.post > p.post-time > time, article.preview p.post-time > time {
    font-size:0.9em;
}

article.post p{
	font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}

article.post h1, article.post h2{
	font-family: Geneva,Tahoma,Verdana,sans-serif;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

article.post > embed {
	width:500px;
	height:22px;	
}

article.post img{
	
}

.main article.post p{
	/*max-width:90%;
	margin:0 auto 10px auto;*/
	font-size:1.3em;
	font-weight:100;
	line-height:1.5em;
}

.main article.post b{	
	font-weight:600;
}

.main article.post ul{
	list-style-type: square;
	font-size:1.5em;
	margin-left:0.9em;
}

article.post > * {
	margin-top:0.5rem;
	display:block;
}

.main article.post strong{
	font-weight:700;	
}

.main article.post h1{
	line-height:1em;
	padding-bottom:3px;
	max-width:90%;
	/*margin:0 auto 10px auto;*/
	font-size:2em;
	font-weight:700;
}

.iframe-embed {
	position: relative;
	padding-bottom: 55%; /* ratio for youtube embed */
	height: auto;
	max-width:80%;
	/*margin:0 auto 10px 5%;*/
}

.iframe-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

.main article.post blockquote, .quote-block {
	font-size:1.3em;
	background-repeat: no-repeat;
	background-position:left center;
	text-indent:0;
	font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
	margin-top:1rem;
}

.main article.post blockquote + *, .quote-block + *{
    margin-top:1rem;   
}

.main article.post img + blockquote {
	background-image: url('resources/arrow-31-16.png');
	padding-left:18px;
	margin-left:0px;
}

blockquote {
	background-image: url('resources/quotes.png');
	padding-left:55px;
	margin-left:10px;
}

.main > nav {
	width:100%;
	border:1px solid lightgray;
	/*margin-top:2rem;*/
	padding:0.25rem 0;
	text-align:center;
	background-color:azure;
}

.wrapper > *:last-child {
	margin-bottom:2rem !important;
}

.main > nav > a {
	font-size:1.2em;
	text-decoration:none;
}

/*at or above 1000px screen width*/		  
@media only screen and (min-width: 1000px) {
       
	.main article.post img{
		max-width:80%;
		max-height:500px;
	}
	
	.iframe-embed {
		max-width:80%;
	}
	
} 


/*1000px width and below*/		  
@media only screen and (max-width: 1000px) {
	
	.main article.post img{
		max-width:100%;
	}
	
	.iframe-embed {
		max-width:100%;
	}
	
} 

@media only screen and (max-width: 750px) {
	body {
		margin:0;
		padding:0;
	}
	
	.main article.post, .main article.preview{
		
	}
	
	main.wrapper > * { 
		margin-left:0.5rem;
		margin-right:0.5rem;
	}
	
}   

@media only screen and (max-width: 600px) {
	
}  