div.date-box {
	background-color:lightgreen;
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	margin-top:8px;
}

div.date-box > select {
	margin-right:3px;
}

div.date-box > table {
	border-collapse:separate;
	margin-top:4px;
}

div.date-box > table tr > td {
    font-size: 0.9em;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    color:slateblue;
    border-width:1px;	
    border-style: solid;
    border-color:lightgreen;
	border-radius:5px;
}

div.date-box > table tr > td:hover {
	cursor:pointer;
	background-color:yellow;
	border-color:black;
	
}

div.date-box > table tr > th {
    font-size: 0.7em;
    padding:0 3px;
}